.mapboxgl-canvas {
    position: relative !important;
    height:300px !important;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.editor-title {
    color:#e67e22;
    font-weight:300;
    font-size:300%;
}

.form-label {
    font-size:120%;
    font-weight: 700;
    display: block;
    margin-bottom:-0.5rem;
}

.mapboxgl-canvas {
    height: 500px !important;
}