.navbar {
    padding:2.5em;
}

#header {
    
    height:100vh;
    background-size: cover;
}


#header-desc {
    text-align: center;
    position: relative;
    top:20vh!important;
    color:#333;
}


#header-desc h1 {
    font-size:500%;
    font-size:300;
}

#header-desc p {
    font-size:130%;
    opacity:0.7;
}

#desc {
    padding:4% 0%;
}

#desc h1 {
    padding:4% 0%;
    font-size:450%;
    color:rgba(26, 188, 156,1.0);
    font-weight:300;
}

#desc p {
    opacity: 0.7;
    font-size:120%;
}
.navbar-light .navbar-nav .nav-link {
    color: #ffffff !important;
    font-size:20px;
    display: inline-block !important;
}

.nav-pills.outline-active .nav-link.active {
    display: inline-block !important;
}
.nav-pills.outline-active .nav-link {
    display: inline-block !important;
}

.navbar-brand {
    font-family: "Titillium Web", sans-serif;
    text-transform: capitalize;
    font-size: 2rem;
    padding-top: 0rem;
    margin-right: 2rem;
    color: #ffffff!important;
}

#header-tuto {
    position: relative;
    top:30vh;
}


.step {
    padding:2%;
    border-radius:50%;
    text-align: center;
    color:#333;
    font-size:140%;
}

footer {
    background-color:rgba(52, 73, 94,1.0);
    padding:2%;
    color: white;   
}