.navbar-light .navbar-nav .nav-link {
    color: #333;
    font-size:20px;
}

.navbar-brand {
    font-family: "Titillium Web", sans-serif;
    text-transform: capitalize;
    font-size: 2rem;
    padding-top: 0rem;
    margin-right: 2rem;
    color: #333;
}