#top-bar {
    background-color: #4b4e6d ;
    color: white;
    padding:0px 40px;
    font-size:80%;
    font-weight:300;
    border-bottom:2px solid rgba(255, 255, 255, 0.1);
}

#top-bar .right {
    float: right;
    
}

#top-bar .left {
    float: left;
    
    
}

#top-bar h1{
    font-size:130%;
    display: inline-block !important;
    padding:15px 10px;
    margin:0px 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}
#top-bar p{
    font-size:130%;
    display: inline !important;
}
#bottom-bar {
    padding:35px 0px;
    border-bottom:1px solid rgba(255, 255, 255, 0.1);
    background-color:#493548;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
}


#navbar-top {
    z-index:100;
    padding:0px 0;
}

#bottom-bar .container {
    margin-top:-20px;
}


.navbar {
    /* #493548 */
   
    
}

.navbar-brand {
    font-family: "Source Sans Pro", sans-serif;
    font-size:200% !important;
    font-weight:300;
    color: fff;
}

.navbar-light .navbar-nav .nav-link {
    color:#fff;
    margin:0 15px;
    padding:0 0;
    font-size:100%;
}


#navbar-action {
    border: 2px solid #d496a7;
    background-color:#d496a7;
    border-radius:200px;
    color: #fff;
}

#navbar-action .navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-brand  {
    color: #fff !important;
}