* {
    padding: Opx;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-size:16px;
    line-height:2rem;
}

section {
    padding: 3% 0;
}

.logo {
    color: #4b4e6d;
}
.action {
    border: 2px solid #d496a7;
    background-color:#d496a7;
    border-radius:200px;
    color: #fff;
    padding:8px 30px;
    font-weight:400;
    font-size:100%;
}

.action:hover {
    background-color: #4b4e6d;
    transition:0.5s;
    cursor: pointer;
    border:0px;
}

p {
    font-size: 120%;
    opacity:0.9; 
       
}
.btn-primary {
    background-color: #d496a7;
    border: 2px solid #d496a7;
}

a {
    color: #d496a7;
}
/* #content {
    padding-top:10vh;
} */

.container-fluid {
    padding-right: -15px;
    padding-left: -15px;
}





