body {
    font-size:16px;
    line-height:2rem;
}

p {
    font-size: 120%;
    opacity:0.9; 
       
}

.wrapper {
    padding-top:10vh;
}

#slider .carousel-caption  h5 {
    font-size:700%;
    font-weight: 300;
    color: #e67e22;
}
#slider .carousel-caption {
    bottom:30vh;
}
.btn-primary {
    background-color: #e67e22 !important;
    border-color: #e67e22 !important;
    margin:1% !important;
}

.auth-page {
    background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),url("https://via.placeholder.com/2000x1000");
    height:90vh;
}

.form-block {
    background-color: white !important;
    padding:4%;
    border-radius: 4px; 
    position: relative !important;
    vertical-align: center !important;
}
a {
    color: #e67e22 !important;
    text-decoration: none;
}

nav navbar-nav pull-xs-right {

}

.navbar-light .navbar-brand {
    color: #e67e22 !important;
    font-size:110% !important;
    font-weight: 300 !important;
}

.navbar-light .navbar-nav .nav-link {
    color:#333 !important;
    font-size:90%;
    font-weight: 700;
    padding:15px 10px;
    text-transform: uppercase;
}

.navbar {
    background-color: #fff;
    padding:1.0rem;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}


/* .wrapper {
    padding-top:8vh;
} */

.nav-pills.outline-active .nav-link.active {
    color: #3498db !important;
    border-bottom: 2px solid #3498db!important
}

a {
    color: #3498db !important;
}


